.customScrollBar {
  overflow: hidden;
  contain: strict;
}

.customScrollBar.horizontal {
  overflow-x: auto;
  contain: inline-size;
}

.customScrollBar.vertical {
  overflow-y: auto;
}

.customScrollBar, body {
  -ms-overflow-style: -ms-autohiding-scrollbar;
  scrollbar-color: var(--vt-c-text-dark-2) transparent;
  scrollbar-width: thin;
}

.customScrollBar::-webkit-scrollbar-button:horizontal:increment, body::-webkit-scrollbar-button:horizontal:increment {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAMAAAAoLQ9TAAAABlBMVEXM09b///8OmaLeAAAAAnRSTlP/AOW3MEoAAAAgSURBVHgBY2BEA+QLMGAIMGAIMGAIMBAUIGQoZU5HAwB+ZgDtGYq3fgAAAABJRU5ErkJggg==);
}

.customScrollBar::-webkit-scrollbar-button:horizontal:increment:hover, body::-webkit-scrollbar-button:horizontal:increment:hover {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAMAAAAoLQ9TAAAABlBMVEWdtMT///8YSU3FAAAAAnRSTlP/AOW3MEoAAAAgSURBVHgBY2BEA+QLMGAIMGAIMGAIMBAUIGQoZU5HAwB+ZgDtGYq3fgAAAABJRU5ErkJggg==);
}

.customScrollBar::-webkit-scrollbar-button:horizontal:decrement, body::-webkit-scrollbar-button:horizontal:decrement {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAMAAAAoLQ9TAAAABlBMVEXM09b///8OmaLeAAAAAnRSTlP/AOW3MEoAAAAiSURBVHgBY2BEAxQJMKAJMKAJMKAJMOATgIkQMBTBooZfAH56AO2yINTrAAAAAElFTkSuQmCC);
}

.customScrollBar::-webkit-scrollbar-button:horizontal:decrement:hover, body::-webkit-scrollbar-button:horizontal:decrement:hover {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAMAAAAoLQ9TAAAABlBMVEWdtMT///8YSU3FAAAAAnRSTlP/AOW3MEoAAAAiSURBVHgBY2BEAxQJMKAJMKAJMKAJMOATgIkQMBTBooZfAH56AO2yINTrAAAAAElFTkSuQmCC);
}

.customScrollBar::-webkit-scrollbar-button:vertical:increment, body::-webkit-scrollbar-button:vertical:increment {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAMAAAAoLQ9TAAAABlBMVEXM09b///8OmaLeAAAAAnRSTlP/AOW3MEoAAAAfSURBVHgBY2BEA7QTYIAChAoYH6EFxkeYwQBj0MelAH3GAO2C9+AaAAAAAElFTkSuQmCC);
}

.customScrollBar::-webkit-scrollbar-button:vertical:increment:hover, body::-webkit-scrollbar-button:vertical:increment:hover {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAMAAAAoLQ9TAAAABlBMVEWdtMT///8YSU3FAAAAAnRSTlP/AOW3MEoAAAAfSURBVHgBY2BEA7QTYIAChAoYH6EFxkeYwQBj0MelAH3GAO2C9+AaAAAAAElFTkSuQmCC);
}

.customScrollBar::-webkit-scrollbar-button:vertical:decrement, body::-webkit-scrollbar-button:vertical:decrement {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAMAAAAoLQ9TAAAABlBMVEXM09b///8OmaLeAAAAAnRSTlP/AOW3MEoAAAAgSURBVHgBY2BEAzQVYIAzYHwGGAvOZ4AyIXyECH1cCgB/GgDtpWTgqAAAAABJRU5ErkJggg==);
}

.customScrollBar::-webkit-scrollbar-button:vertical:decrement:hover, body::-webkit-scrollbar-button:vertical:decrement:hover {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAMAAAAoLQ9TAAAABlBMVEWdtMT///8YSU3FAAAAAnRSTlP/AOW3MEoAAAAgSURBVHgBY2BEAzQVYIAzYHwGGAvOZ4AyIXyECH1cCgB/GgDtpWTgqAAAAABJRU5ErkJggg==);
}

.customScrollBar::-webkit-scrollbar, body::-webkit-scrollbar {
  height: 18px;
  width: 18px;
}

.customScrollBar::-webkit-scrollbar:disabled, body::-webkit-scrollbar:disabled {
  display: none;
}

.customScrollBar::-webkit-scrollbar-button, .customScrollBar::-webkit-scrollbar-corner, body::-webkit-scrollbar-button, body::-webkit-scrollbar-corner {
  background: transparent;
  cursor: pointer;
}

.customScrollBar::-webkit-scrollbar-button:horizontal:decrement, .customScrollBar::-webkit-scrollbar-button:horizontal:decrement:hover, .customScrollBar::-webkit-scrollbar-button:horizontal:increment, .customScrollBar::-webkit-scrollbar-button:horizontal:increment:hover, .customScrollBar::-webkit-scrollbar-button:vertical:decrement, .customScrollBar::-webkit-scrollbar-button:vertical:decrement:hover, .customScrollBar::-webkit-scrollbar-button:vertical:increment, .customScrollBar::-webkit-scrollbar-button:vertical:increment:hover, body::-webkit-scrollbar-button:horizontal:decrement, body::-webkit-scrollbar-button:horizontal:decrement:hover, body::-webkit-scrollbar-button:horizontal:increment, body::-webkit-scrollbar-button:horizontal:increment:hover, body::-webkit-scrollbar-button:vertical:decrement, body::-webkit-scrollbar-button:vertical:decrement:hover, body::-webkit-scrollbar-button:vertical:increment, body::-webkit-scrollbar-button:vertical:increment:hover {
  background-position: 50%;
  height: 18px;
  width: 18px;
}

.customScrollBar::-webkit-scrollbar-track, body::-webkit-scrollbar-track {
  background: transparent;
}

.customScrollBar::-webkit-scrollbar-thumb, .customScrollBar::-webkit-scrollbar-thumb:hover, body::-webkit-scrollbar-thumb, body::-webkit-scrollbar-thumb:hover {
  background-clip: content-box;
  border: 6px solid transparent;
  border-radius: 9px;
}

.customScrollBar::-webkit-scrollbar-thumb, body::-webkit-scrollbar-thumb {
  background-color: var(--vt-c-text-dark-2);
}

.customScrollBar::-webkit-scrollbar-thumb:hover, body::-webkit-scrollbar-thumb:hover {
  background-color: #98a3a6;
}

.customScrollBar::-webkit-scrollbar-thumb:vertical, body::-webkit-scrollbar-thumb:vertical {
  min-height: 50px;
}

.customScrollBar::-webkit-scrollbar-thumb:horizontal, body::-webkit-scrollbar-thumb:horizontal {
  min-width: 50px;
}