Django==5.0.1
setuptools==69.0.3
sqlparse==0.4.4
tzdata==2023.4
urllib3==2.2.0
wheel==0.42.0
djangorestframework==3.14.0
channels[daphne]==4.0.0
channels_redis==4.2.0
paramiko==3.4.0
asgiref==3.7.2
fabric==3.2.2
invoke==2.2.0
requests==2.31.0
